#house_hunting {
}
.house_hunting_inner {
}
.wall {
  background: #fcdfeb;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 60px;
  padding: 100px 150px 0;
}
.checklist {
  flex: 2.2;
  z-index: 2;
  padding-bottom: 15%;
}
.monitor {
  flex: 5.3;
  z-index: 2;
  margin-bottom: -70px;
}
.book {
  flex: 2.5;
  z-index: 2;
  margin-bottom: -10%;
}
.desk {
  background: #d9a482;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 5%;
  padding: 12% 15% 10%;
  border-top: 2px solid #4c241e;
}
.cup {
  flex: 2;
}
.keyboard {
  flex: 6.5;
}
.mouse {
  flex: 1.5;
}
/* 호버 이미지 */
.checklist:hover {
  background: url(../img/house_hunting/checklist_h.png) no-repeat top center;
  background-size: contain;
}
.monitor:hover {
  background: url(../img/house_hunting/monitor_h.png) no-repeat top center;
  background-size: contain;
}
.book:hover {
  background: url(../img/house_hunting/book_h.png) no-repeat top center;
  background-size: contain;
}
@media (max-width: 1200px) {
  .wall {
    gap: 30px;
    padding: 100px 20px 0;
  }
  .desk {
    gap: 50px;
    padding: 130px 50px 150px;
  }
}
@media (max-width: 800px) {
  .wall {
    gap: 10px;
    padding: 90px 10px 0;
  }
  .checklist {
    flex: 3;
    padding-bottom: 55%;
  }
  .monitor {
    flex: 5.5;
    margin-bottom: -40px;
    margin-left: -30%;
  }
  .book {
    width: 50%;
    flex: 3.5;
    margin-bottom: -13%;
  }
  .desk {
    gap: 5%;
    padding: 15% 5% 23%;
    border-top: 1px solid #4c241e;
  }
}
@media (max-width: 480px) {
  .wall {
    gap: 0px;
    padding: 90px 10px 0;
  }
  .checklist {
    padding-bottom: 50%;
  }
  .desk {
    gap: 5%;
    padding: 17% 5% 23%;
    border-top: 1px solid #4c241e;
  }
}
