body {
  background: #feecec;
}
/* 채정수정 */

/* vv흔들조명vv */
.moving {
  position: relative;
  width: 100%;
  min-height: 2290px; /* photo들이 아래로 이어질 만큼 크게 */
  overflow: hidden;
  background-color: #feecec;
}

.lighting,
.lighting_bg {
  position: absolute;
  top: -30px;
  left: -10%;
  width: 120%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  transform-origin: top center;
  transform: scale(1.4);
}
.lighting {
  z-index: 10;
  background-image: url("../img/moving/lighting.svg");
}
.lighting_bg {
  z-index: 2;
  background-image: url("../img/moving/lighting_follow.svg");
}

.frames {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/moving/frames.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.bibi {
  z-index: 6;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/moving/bibi.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}

/* 미디어쿼리 */

@media (max-width: 930px) {
  .photo_popup {
    width: 90vw;
    height: 80vh;
    max-width: 90%;
    min-height: 300px;
  }

  .light_all {
    transform: scale(1.5);
    transform-origin: top center;
  }

  /* // */

  .moving {
    min-height: 2160px; /* photo들이 아래로 이어질 만큼 크게 */
  }

  .bibi {
    transform: scale(1.4);
    transform-origin: bottom center;
  }
}

@media (max-width: 510px) {
  .moving {
    min-height: 1860px; /* photo들이 아래로 이어질 만큼 크게 */
  }

  .light_all {
    transform: translateY(40px) scale(2.5);
    transform-origin: top center;
  }

  .bibi {
    transform: scale(1.4);
    transform-origin: bottom center;
  }
}

/*  */

/* ----------checklist---------- */
#checklist {
  position: relative;
  z-index: 100;
  font-family: "Ownglyph_2022_UWY_Si_Woo";
}
.img_checklist {
  position: relative;
  z-index: 1000;
  background: url(../img/hunting_checklist/checklist.svg) no-repeat center 10px;
  background-size: 1030px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.checklist_title {
  font-size: 50px;
  padding-top: 125px;
}
.checklist_desc {
  font-size: 23px;
  line-height: 30px;
  padding: 0 25px;
}
.checklist_desc h1 {
  font-size: 25px;
  padding-top: 10px;
  margin-left: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
  text-align: center;
  /* background: yellow; */
}
.check {
  font-style: normal;
  /* display: inline-block; */
  cursor: pointer;
  position: relative;
}
.check::after {
  content: "\2714";
  font-size: 25px;
  color: #fe3b43;

  position: absolute;
  top: -6px;
  left: 0;

  opacity: 0;
  transition: all 0.2s;
}
.chk:checked + .check::after {
  opacity: 1;
}
.chk {
  position: absolute;
  left: -999em;
}
/* ㄴ기존 체크박스 날림 */

.checklist_count {
  border-top: 1px solid #000;
  margin-top: 10px;
}
.checklist_count::before {
  content: "\2714";
  font-size: 25px;
  color: #fe3b43;
  padding-right: 100px;
}
/* ----------btn---------- */
.checklist_btn {
  display: flex;
  gap: 22px;
}
.reset_btn button,
.save_btn button {
  font-family: "Ownglyph_2022_UWY_Si_Woo";
  margin-top: 35px;

  width: 100px;
  height: 45px;
  border: 2px solid #4c241e;
  border-radius: 13px;
  background: #f5c005;

  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.close_btn {
  font-family: "OngleipEoyeonce";
  width: 110px;
  height: 50px;
  margin: 90px 0 100px 0;

  background: #ea6161;
  border: 2px solid #4c241e;
  border-radius: 11px;

  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close_btn a {
  color: #ffffff;
  padding: 0 20px;
  /* background: rgba(0, 4, 255, 0.205); */
}
/* ----------save_message---------- */
.save_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #f5c005;
  border: 2px solid #4c241e;
  color: white;

  padding: 20px 20px;
  border-radius: 14px;
  font-size: 28px;

  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.save_modal.show {
  opacity: 1;
  pointer-events: auto;
}
/* ----------900---------- */
@media (max-width: 930px) {
  .img_checklist {
    background: url(../img/hunting_checklist/checklist_mini.svg) no-repeat
      center 10px;
    background-size: 700px auto;
  }
}
@media (max-width: 510px) {
  .img_checklist {
    background: url(../img/hunting_checklist/checklist_phon.svg) no-repeat
      center 10px;
    background-size: auto 1600px;
  }
  .checklist_title {
    font-size: 30px;
  }
  .checklist_desc {
    font-size: 19px;
  }
  .reset_btn button,
  .save_btn button {
    margin-top: 15px;

    width: 67px;
    height: 35px;
    border: 1px solid #4c241e;
    border-radius: 11px;

    font-size: 20px;
  }
  .close_btn {
    width: 67px;
    height: 35px;
    border: 1px solid #4c241e;
    font-size: 35px;

    margin-top: 80px;
  }
  .checklist_desc h1 {
    margin-left: 0px;
  }
  .checklist_count::before {
    font-size: 20px;
    padding-right: 70px;
  }
  .check::after {
    top: -9px;
  }
  .save_modal {
    padding: 7px 12px;
    border-radius: 11px;
    font-size: 23px;
  }
}
