html,
body {
  height: auto;
  min-height: 100%;
}
body {
  position: relative;
}
/* 헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10000;
}

.header_inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  height: 80px;
  position: relative;
  transition: transform 0.3s ease;
}

.header_inner.hide {
  transform: translateY(-150%);
}

/* 기본 아이콘 */
.menu_icon {
  position: relative;
  width: clamp(40px, 3.8vw, 55px);
  aspect-ratio: 1 / 1;
  transform: translateY(-6px);
}
.menu_icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* hover 아이콘 */
.menu_icon::after {
  content: "";
  position: absolute;
  padding: 3px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("/assets/img/main/menu_icon_hover.svg") no-repeat center /
    contain;
  opacity: 0;
}
/* hover 상태 */
.menu_icon:hover .menu_icon_basic {
  opacity: 0;
}
.menu_icon:hover::after {
  opacity: 1;
}

.logo_main {
  width: 130px;
  height: 45px;
  justify-self: center;
}

.login_icon {
  width: 100px;
  height: 100px;
  position: relative;
  top: -30px;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
}

.login_icon:hover {
  animation: dingding 0.6s ease-out;
}

@keyframes dingding {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-16px);
  }
  50% {
    transform: translateY(8px);
  }
  75% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* 사이드 메뉴 시작 */
.side_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: min(100%, 300px);
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 11000;
  overflow: hidden;

  background-image: url("../../img/menu_bar/menu_bar.svg");
  /* background-repeat: no-repeat; */
  background-position: top left;
  background-size: 100%;
}

.side_menu.active {
  transform: translateX(0);
}

.side_menu_bg {
  display: block;
  object-fit: fill;
}
.side_nav {
  position: absolute;
  top: 100px;
  left: 40px;
}

/* X 버튼 */
.side_menu_close {
  position: absolute;
  display: block;
  top: 20px;
  right: 30px;
  width: 28px;
  background: none;
  cursor: pointer;
}
.side_menu_close_icon {
  display: block;
  width: 100%;
  height: auto;
}
.side_menu_close:hover {
  opacity: 0.8;
}
.menu_title {
  padding-bottom: 10px;
  width: 200px;
}
.about_title {
  position: fixed;
  bottom: 3%;
  width: 200px;
}

.about_title span {
  display: block;
}
.menu_link,
.about_link {
  color: #4b1e12;
  font-family: "OngleipEoyeonce";
  font-size: 40px;
  position: relative;
  display: block;
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
}
.duldul {
  color: #4b1e12;
  font-family: "OngleipEoyeonce";
  font-size: 30px;
  margin-top: -20px;
}

.menu_title:hover .menu_link {
  color: #ffffff;
}
.menu_title:hover .menu_link::after {
  opacity: 1;
}
.menu_link:hover .duldul {
  color: #ffffff;
}
.menu_link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  display: block;
  background: url("../../img/menu_bar/home_icon.png") no-repeat center / contain;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.about_link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: block;
  background: url("../../img/menu_bar/menu_bb.svg") no-repeat center / contain;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}
.about_link:hover::after {
  opacity: 1;
}

/* 미디어 쿼리 */
/* 1. 태블릿 */
@media (max-width: 1200px) {
  .header_inner {
    height: 80px;
    padding: 0 60px;
    transform: translateY(-8px);
  }
  .header_inner.hide {
    transform: translateY(-100%);
  }
  .logo_main {
    width: 115px;
  }
  .login_icon {
    width: 65px;
    top: -22px;
  }
}
@media (max-width: 850px) {
  .header_inner {
    height: 70px;
    padding: 0 50px;
    transform: translateY(-8px);
  }
  .header_inner.hide {
    transform: translateY(-100%);
  }
  .menu_link,
  .about_link {
    font-size: 30px;
  }
  .about_title {
    padding-top: 300px;
  }
  .side_menu_close {
    top: 25px;
    right: 35px;
    width: 25px;
  }
  .menu_link::after {
    width: 25px;
    height: 25px;
  }
  .about_link::after {
    width: 40px;
    height: 40px;
  }
  /* .menu_icon {
    width: 50px;
  } */
  .logo_main {
    width: 105px;
  }
  .login_icon {
    width: 60px;
    top: -25px;
  }
}

@media (max-width: 480px) {
  .menu_icon img {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: yellow; */
    padding: 10px;
    object-fit: contain;
  }
  /* hover 아이콘 */
  .menu_icon::after {
    content: "";
    position: absolute;
    margin: 10px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url("/assets/img/main/menu_icon_hover.svg") no-repeat center /
      contain;
    opacity: 0;
  }
  .header_inner {
    height: 60px;
    padding: 0 30px;
    transform: translateY(-8px);
  }
  .header_inner.hide {
    transform: translateY(-100%);
  }
  .menu_link,
  .about_link {
    font-size: 27px;
  }
  .about_title {
    padding-top: 250px;
  }
  .side_menu_close {
    top: 30px;
    right: 40px;
    width: 20px;
  }
  .menu_link::after {
    width: 25px;
    height: 25px;
  }
  .about_link::after {
    width: 40px;
    height: 40px;
  }
  .menu_icon {
    width: 30px;
  }
  .logo_main {
    width: 83px;
  }
  .login_icon {
    width: 45px;
    top: -23px;
  }
}
